.game {
    margin:auto;
    width: 50%;
}

.solve {
    margin-left:25%;
    width: 10%;
    height: 20%;
    font-size: 30px;
}

.reset {
    margin:auto;
    width: 10%;
    height: 20%;
    font-size: 30px;
}

.buttons {
    margin: auto;
    width:100%;

}